

.navbar-default {
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #dfdfdf 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #dfdfdf 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdfdfdf', GradientType=0);
}

.required:after {
  content:" *"; 
  color: red;
}

/* Estilo da Modal (popup)*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#filterInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#filterableTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#filterableTable th, #filterableTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#filterableTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#filterableTable tr.header, #filterableTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial; 
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.btn-main .btn3d:hover {
  -moz-box-shadow: inset 0 0 10px #fff;
  -webkit-box-shadow: inset 0 0 10px#fff;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
  transition: .3s all;
  cursor: pointer;
}
.btn-primary {
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 3px 6px 0 0 #357ebd, 3px 6px 8px 1px rgba(255,255,255,0.5);
}
.btn-secondary {
    box-shadow:0 0 0 1px #868E96 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 3px 6px 0 0 #727980, 3px 6px 8px 1px rgba(255,255,255,0.5);
}
.btn-success {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 3px 6px 0 0 #4cae4c, 3px 6px 8px 1px rgba(255,255,255,0.5);
}
.btn-info {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 3px 6px 0 0 #46b8da, 3px 6px 8px 1px rgba(255,255,255,0.5);
}
.btn-warning {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 3px 6px 0 0 #eea236, 3px 6px 8px 1px rgba(255,255,255,0.5);
}
.btn-danger {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 3px 6px 0 0 #C24032, 3px 6px 8px 1px rgba(255,255,255,0.5);
}
.btn-light {
    box-shadow:0 0 0 1px #F8F9FA inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 3px 6px 0 0 #D9DDE1, 3px 6px 8px 1px rgba(255,255,255,0.5);
}
.btn-dark {
    box-shadow:0 0 0 1px #343A40 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 3px 6px 0 0 #19191a, 3px 6px 8px 1px rgba(255,255,255,0.5);
}